/* Basic CSS for styling */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('fact_landing.jpg'); /* Replace with your own background image URL */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for readability */
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.button {
    display: inline-block;
    background-color: #07c494;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #FFEB3B;
}

/* Navigation bar */
* 

.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for the navbar */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container {
    padding-left: 20px; /* Space from the left edge */
}

.logo {
    width: 30px; /* Adjust size as needed */
    height: auto;
}
